@media only screen and (max-width: 1280px)
{
	nav ul li a {
   		padding: 30px 10px;
	}
}

@media only screen and (max-width: 991px)
{
	a.menu-toggle,
	a.close-menu
	{
		display: inline-block !important;
	}
	.menu-wrapper {
		background: #2e3a4ced;
		position: fixed;
		top: 0;
		z-index: 999999;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 65px;
		display: none;
	}

	nav ul li a {
		padding: 6px 27px;
		border-bottom: 1px solid grey;
	}
	nav ul li {
		display: block;
		margin: 0px 26px;
	}
	.site-header {

		padding: 16px 0px;
	}
	.menu-wrapper .button-set {
		text-align: right;
		padding: 0px 21px;
		margin-top: -26px;
		margin-bottom: 20px;
	}
	.banner-container h2
	{
		font-size: 26.5px;
	}
	.section-heading h2
	{
		font-size: 30px;
	}
	.client-sec
	{
		padding-top: 139px;
	}
	.clients-block
	{
		    width: 200px;
	}
	.clients-block h5
	{
		font-size: 28px;
	}
	.clients-block p
	{
		font-size: 14px;
	}
}

@media only screen and (max-width:768px)
{
	.banner-slider .bx-item {
		background-size: cover;
		height: calc(50vh);
	}
}

@media only screen and (max-width: 676px)
{
	.clients-block {
		width: 32.33%;
	}
}

@media only screen and (max-width: 585px)
{
	.banner-container h2 {
		font-size: 18.5px;
	}
	.banner-container p {
    font-size: 14px;

	}
	.btn{
		font-size: 13px;
	}
	.section-heading h2
	{
		font-size: 25px;
	}
	.clients-block
	{
		width: 100%;
	}
	.cleint-sec h3,
	.clients-block h5
	{
		font-size: 18px;
	}
	.banner-sec .bx-wrapper .bx-controls-direction a
	{
		display: none;
	}
	.page-top-banner img {
		width: auto;
		max-width: 100%;
		height: 113px;
	}
   .page-title h3
	{
		font-size: 18px;
	}
	
}
