@charset "utf-8";
/* CSS Document */


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.wrapper
{
	font-family: 'Montserrat', sans-serif;
	color: #1c1c32;
}

.site-header {
    background: #2e3a4c;
}
button,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"]
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


a
{
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
	
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #2e3a4c;
    line-height: 21px;
}
nav ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li
{
	display: inline-block;
	text-transform: uppercase;
	margin-left: -4px;
}


nav ul li a {
    color: #fff !important;
    font-weight: 300;
    text-decoration: none !important;
    display: block;
    padding: 30px 19px;
}
nav ul li a:hover{
	background: #ef4848;
}

.header-search {
    border-left: 2px solid white;
    padding-left: 14px;
}
.banner-slider .bx-item{
    background-size: 100% 100%;
    height: calc(100vh - 84px);
    background-position: top center;
    background-repeat: no-repeat;
}
.banner-slider .bx-item:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #151e2d99;
}
.bx-wrapper
{
	border: 0px;
	box-shadow: none !important;
}

.banner-container {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.banner-container h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}
.banner-container p
{
	font-size: 16px;
	color: #fff;
}

.btn-red {
    background: #ef4848;
    border-radius: 0px;
    color: #fff;
    font-size: 16px;
    padding: 7px 18px;
	border: 1px solid #ef4848;
}

.btn-white
{
		background: #fff;
		border-radius: 0px;
		color: #ef4848;
		font-size: 16px;
		padding: 7px 18px;
		border: 1px solid #fff;
}

.btn-red:hover,
.btn-white:hover 
{
	background: #fff;
	color: #ef4848;
	border: 1px solid #ef4848;
}

.button-set .btn 
{
	margin-right: 10px;
}
.bx-wrapper
{
	margin-bottom: 0;
}
.banner-container h2,
.banner-container .button-set
{
	opacity: 0;
}

.banner-container h2.animated,
.banner-container .button-set.animated
{
	opacity: 1;
}
section
{
	padding: 60px 0px;
}
.service-block .thumbnail
{
	position: relative;
	background: #f7f7fe;
}
.thumbnail img {
    width: 100%;
    height: auto;
    display: block;
	position:relative;
}
.thumbnail .cat-badge
{
	position: absolute;
	width: 50px;
	top: 0;
	left: 0;
	z-index: 1;
}
.service-block.gray-box
{
	background: #f7f7fe;
	margin-bottom: 20px;
}
.service-block .post-excerpt {
    padding: 15px;
}


.service-block .post-excerpt h4 {
    color: #1c1c32;
    font-size: 16px;
    font-weight: 600;
}
.service-block .post-excerpt p
{
	font-size: 12px;
	font-weight: 400;
}

a.read-more-link {
    color: #ef4848;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
a.read-more-link:hover 
{
	text-decoration: none;
}
a.read-more-link:hover img
{
	margin-left: 20px;
}
.gray-section {
    background: #f7f7fe;
}

.section-heading
{
	text-align: center;
}


.section-heading h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    color: #ef4848;
}
.section-heading h2 strong
{
	 font-weight: 600;
	color: #2e3a4c;
}

.section-heading p {
    color: #2e3a4c;
    font-size: 12px;
    font-weight: 500;
}

.news-block {
    border: 1px solid #2e3a4c;
    padding: 20px;
    min-width: 233px;
    display: flex;
    flex-direction: column;
    height: 100%;
	transition: ease-Out 0.2s;
}

.news-block h3 {
    font-size: 18px;
    color: #2e3a4c;
    font-weight: 500;
}
.news-block p {
    font-size: 16px;
    line-height: 22px;
    color: #2e3a4c;
    height: 67px;
    overflow: hidden;
}

.news-block a
{
	font-size: 16px;
	color: #2e3a4c;
	font-weight: 500;
	text-transform: capitalize;
	text-decoration: none;
}
.news-block a:hover i
{
	margin-left: 15px;
}

.news-block:hover 
{
	background: #2e3a4c;
}
.news-block:hover *
{
	color: #fff !important;
}

.cleint-sec h3 {
    font-size: 24px;
    color: #2e3a4c;
}
.cleint-sec h3 strong
{
	color: #ef4848;
	display: block;
}
.cleint-sec {
   background-image: url(../images/image-1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0;
    padding-top: 192px;
}
.clients-block {
    text-align: center;
    display: inline-block;
    width: 227px;
    background: rgba(239, 72, 72, 0.76);
    padding: 9px 10px 10px;
    margin-top: 20px;
}
.clients-block h5
{
	font-size: 33px;
	font-weight: 500;
	color: #fff;
}
.clients-block p
{
	text-transform: uppercase;
	color: #fff;
	margin-bottom:  0;
}
.testimonial-sec .bx-wrapper
{
	background-color: transparent;
}

.testimonial-block {
    border: 1px solid #2e3a4c;
    padding: 30px 20px;
}


.client-details .details {
    padding-left: 72px;
    padding-top: 7px;
}
.client-details figure {
    width: 63px;
    height: 63px;
    background-color: #2e3a4c;
    float: left;
    border-radius: 50%;
    overflow: hidden;
}
.client-details .details {
    padding-left: 72px;
}
.client-details .details h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #2e3a4c;
    margin-bottom: 0px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #2e3a4c;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus
{
	background: rgb(239, 72, 72);
}

.form-control {
    display: block;
    width: 100%;
    padding: 13px 15px;
    line-height: 1.5;
    color: #495057;
    background-color: #f7f7fe;
    background-clip: padding-box;
    border: 1px solid #2e3a4c;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px;
    font-size: 14px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f7f7fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(206, 206, 212);
}
.call-back-form-wrap .button-set .btn {
    margin: 0px 0px;
    min-width: 200px;
}

footer {
    background: #2e3a4c;
	padding: 100px 0px;
}
 footer h5
{
	font-size: 18px;
	color: #fff;
}
 footer p
{
	color: #fff;
	font-size: 14px;
}
.newsletter-box input[type="email"] {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    padding: 0px 7px;
    font-size: 14px;
    color: #2e3a4c;
	padding-right: 60px;
}
.newsletter-box {
    position: relative;
}

.newsletter-box button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0px 16px;
    border: none;
    background: #ef4848;
    color: #fff;
    font-size: 20px;
	transition: all 0.2s;
	cursor: pointer;
}
.newsletter-box button:hover 
{
	background: #D81F1F;
}
.social-block a {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 33px;
    border-radius: 50%;
}
.social-block a:hover
{
	color: #ef4848;
	border: 1px solid #ef4848;
}
.social-block {
    padding-top: 15px;
	margin-right: 3px;
}
.search-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0px;
    background: rgba(46, 58, 76, 0.96);
    z-index: 99999;
	display: none;
}
.search-box .button-set,
.menu-wrapper .close-menu
{
    text-align: right;
    padding: 11px 17px;
}

.search-box .button-set .close-search, 
.menu-wrapper .close-menu {
    color: #ffff;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 39px;
    font-size: 20px;
    display: inline-block;
    height: 39px;
    line-height: 22px;
    text-align: center;
    padding: 7px 5px;
}
.search-input-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    right: 15px;
    max-width: 1000px;
    margin: auto;
}
.search-input-box .input-wrap input[type="text"] {
    width: 100%;
    height: 50px;
    border: none;
    padding: 0px 12px;
    text-transform: uppercase;
    color: #2e3a4c;
    font-weight: 500;
    outline: none !important;
    margin-bottom: 20px;
}
.search-input-box button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px 22px;
    border: none;
    background: #F44336;
    color: #fff;
    transition: all 0.2s;
    cursor: pointer;
    height: 50px;
}
.newsletter-box button:hover,
.search-input-box button:hover
{
	background: #D81F1F;
}
a.menu-toggle,
a.close-menu
{
	display: none !important;
}
a.menu-toggle span {
    width: 25px;
    height: 2px;
    background: #9aa0a9;
    display: block;
    margin: 6px 15px;
}

.page-top-banner img
{
	width: 100%;
	height: auto;
}
.page-top-banner 
{
	position: relative;
}
.page-top-banner:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #0e1219a6;
}
.page-title {
    position: absolute;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
	z-index: 1;
}
.page-title h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 34px;
}

blockquote {
    border-left: 3px solid #2e3a4c;
    padding: 9px 10px;
    background: #f7f7fe;
}

.gen-section h2 {
    font-weight: 600;
    color: #2e3a4c;
    margin-bottom: 30px;
}
.gen-section ul {
    padding: 0;
    list-style: none;
}
.gen-section ul li
{
	margin-bottom: 20px;
}

.gen-section ul li:before {
    content: "\f00c";
    font-family: FontAwesome;
    color: #f7f7fe;
    width: 30px;
    height: 30px;
    background: #2e3a4c;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    font-size: 12px;
    border-radius: 50%;
    border: 1px solid #2e3a4c
}
.gen-section p {
    line-height: 27px;
}
.team-sec img
{
	width: 100%;
	height: auto;
	filter: grayscale(1);
	transition: all 0.2s;
}
.team-sec img:hover{
	filter: grayscale(0);
}

.desc-content {
    background: #fff;
    padding: 21px 11px;
    text-align: center;
    border-bottom: 3px solid #2e3a4c;
	margin-bottom: 30px;
}

.desc-content h3 {
    font-size: 19px;
    text-transform: uppercase;
    color: #2e3a4c;
    font-weight: 600;
    margin-bottom: 3px;
}

.desc-content .designation {
    color: #ef4848;
}
.desc-content .social a {
    display: inline-block;
    padding: 0px 4px;
    color: #2e3a4c;
}

.clients-list {
    list-style: none;
	text-align: center;
}
.clients-list li {
    width: 224px;
    border: 1px solid #2e3a4c;
    display: inline-block;
    margin: 7px 6px;
}

.contact-details-wrap ul {
    padding: 0px;
    list-style: none;
}
.contact-details-wrap ul li {
    position: relative;
    padding-left: 33px;
    margin-bottom: 18px;
}
.contact-details-wrap ul li i {
    font-size: 21px;
    width: 30px;
    text-align: center;
    color: #ef4848;
    position: absolute;
    left: 0;
    top: 0;
}

section.map-sec iframe {
    width: 100%;
    height: 400px;
}